@import url('https://fonts.cdnfonts.com/css/sf-pro-display');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'SF Pro Display', sans-serif;
  background: black;
  color: #D1D5DE;
  margin: 0;
}

.navbar {
  background-color: #333333;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo img {
  height: 25px;
  margin-right: 20px;
}

.logo h1 {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first-child {
  margin-left: 0;
}

li {
  margin-left: 15px;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  text-align: center;
}



/* -----MAIN----- */
.main-container {
  background-image: url("../public/img/bg.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 5%;
}

/* -----CURRENTTIME----- */
.day-name,
.day-number,
.month {
  display: inline-block;
  margin: 0.2rem;
}


.time {
  display: inline-block;
  width: 2.25rem;
}

.ampm {
  display: inline-block;
  width: 1.5rem;
}

/* -----ICON----- */
.icon {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

/* -----RESPONSIVE----- */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
}
